/*
 |	Fox Theme
 |	@file		./css/colors/frog.css
 |	@author		SamBrishes <pytes@gmx.net>
 |	@version	0.2.2 [0.2.0] - Beta
 |
 |	@require	Wolf CMS 0.8.3, CSS3-capable Browser
 */
/*
 |	COLOR SCHEME
 |
 |	MAIN GREEN		#66A400		rgb(102, 164, 0)
 |	LIGHT GREEN		#83bb61		rgb(131, 187, 97)
 |	VIOLET			#A162BB		rgb(161, 98, 187)
 */
 
/* @start LOGIN SCREEN */
body{
	background: #66a400;
	background: -moz-radial-gradient(center, ellipse cover,  #66a400 0%, #477200 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#66a400), color-stop(100%,#477200));
	background: -webkit-radial-gradient(center, ellipse cover,  #66a400 0%,#477200 100%);
	background: -o-radial-gradient(center, ellipse cover,  #66a400 0%,#477200 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #66a400 0%,#477200 100%);
	background: radial-gradient(ellipse at center,  #66a400 0%,#477200 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a400', endColorstr='#477200',GradientType=1 );
}
#dialog form, #info, #error, #success{
	border: 1px solid #5b9300;
}
/* @end LOGIN SCREEN */

/* @start GENERAL */
a{
	color: #66A400;
}
a:hover{
	color: #A162BB;
}
#snippet_name:focus, #snippet_name.focus,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
input[type="search"]:focus, input[type="number"]:focus, select:focus, textarea:focus, #content textarea:focus,
input[type="text"].focus, input[type="password"].focus, input[type="email"].focus,
input[type="search"].focus, input[type="number"].focus, select.focus, textarea.focus, #content textarea.focus{
	border: 1px solid #66A400;
	box-shadow: 0 1px 1px 0 rgba(102, 164, 0, 0.5);
	-moz-box-shadow: 0 1px 1px 0 rgba(102, 164, 0, 0.5);
	-webkit-box-shadow: 0 1px 1px 0 rgba(102, 164, 0, 0.5);
}
input[type="submit"], input[type="submit"]:focus, input[type="submit"].focus, 
input[type="button"], input[type="button"]:focus, input[type="button"].focus,
.button, .button:focus, .button.focus{
	border-color: #518300;
	background-color: #66A400;
}
input[type="submit"]:hover, input[type="submit"].hover, 
input[type="button"]:hover, input[type="button"].hover, 
.button:hover, .button.hover{
	border-color: #3d6200;
	background-color: #518300;
}
input[type="submit"]:active, input[type="submit"].active, 
input[type="button"]:active, input[type="button"].active, 
.button:active, .button.active{
	border-color: #3d6200;
	background: #3d6200;
}
/* @end GENERAL */

/* @start ELEMENTS */
#header{
	background-color: #66A400;
}
#mainTabs ul li.plugin a.current, #mainTabs ul li.right a.current,
#mainTabs ul li.plugin a.current:hover, #mainTabs ul li.right a.current:hover{
	color: #83bb61;
}
#sidebar-wrapper #sidebar p.button a,
#sidebar-wrapper #sidebar p.button a:before{
	text-shadow: none;
}
#sidebar-wrapper #sidebar p.button a:hover:before{
	color: #A162BB;
}
#footer p:first-child a, #footer p.stats a{
	color: #66A400;
}
div#footer p#site-links a{
	color: #fff;
	border-color: #3d6200;
	background-color: #518300;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
}
div#footer p#site-links a:before{
	color: rgba(255, 255, 255, 0.75);
	background-color: #477200;
}
/* @end ELEMENTS */

/* @start LISTS */
div#site-map-def div #toggle_reorder:hover,
div#site-map-def div #reorder-toggle:hover{
	color: #66A400;
}
ul#site-map-root li.node.level-0 div.page span.title,
ul#site-map-root li.node.level-0 div.page a span.title{
	color: #66A400;
}
ul#site-map-root li.node.level-0 div.view-page a:hover:before,
ul#site-map li.level-1 div.content-children div.view-page a:hover:before{
	color: #66A400 !important;
}
ul#site-map li.level-1 div.content-children div.page span.w1 a:hover span.title,
ul#site-map li.level-1 div.content-children div.page span.w1 a:visited:hover span.title{
	color: #66A400;
}
table.index tr td.plugin h4 a{
	color: #66A400;
}
table.index tr td.plugin h4 a:hover{
	color: #A162BB;
}
.index .node a:hover, .index .even a:hover, .index .odd a:hover{
	color: #66A400 !important;
}
.index .node a:hover, .index .node a:visited:hover{
	color: #66A400;
}
/* @end LISTS */

/* @start FORMS */
ul.tabNavigation li.tab a:hover{
	color: #66A400;
}
.dpTable tr.dpTitleTR td.dpButtonTD button:before{
	color: #66A400;
}
.dpTable tr.dpTR td.dpTDHover{
	color: #66A400;
}
.dpTable tr.dpTR td.dpDayHighlightTD,
.dpTable tr.dpTR td .dpDayHighlight{
	color: #66A400;
}
/* @end FORMS */

/* @start PLUGINS */
body#body_plugin_comment .pagination span.current{
	border-color: #66A400;
	background-color: #66A400;
}
/* @end PLUGINS */